*.[ao]
*.aux
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.log
*.toc
*.out
*.l[ao]
*.orig
.project
.cproject
.settings/
/.libs
test_*.txt
*.pc
doc/tfm.pdf
pre_gen/
*build*/

*.gcda
*.gcno
*.info
coverage/
compat_reports/

test
mtest
stest
rsatest
timing
*.exe
