*.[ao]
*.aux
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.log
*.toc
*.out
*.l[ao]
*.orig
.project
.cproject
/.libs
test_*.txt
*.pc
doc/tfm.pdf

*.gcda
*.gcno
*.info
coverage/
compat_reports/

test
test.exe
mtest
mtest.exe
stest
stest.exe
rsatest
rsatest.exe
timing
timing.exe
